body {
    font-family: $font-stack;
    background-color: #f8f8f8;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

code {
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fffdef;
    color: #56512b;
    padding: 0 4px;
}

.container {
    max-width: 960px;
    margin: 20px auto;

    // clearfix
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.demo {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 2px 10px 0px rgba(150, 150, 150, 0.12);
    background-color: #fff;
    border-radius: 2px;
    padding: 0 10px 10px;

    & > div {
        overflow: hidden;
    }

    .demo-header {
        margin-bottom: 6px;

        h2 {
            color: #464646;
            font-weight: normal;
            line-height: 40px;
            height: 34px;
            margin: 0;
            overflow: hidden;
            padding: 10px 0 0;
            white-space: nowrap;
        }

        h3 {
            margin: 0;
            padding: 0;
            color: #888;
            line-height: 1em;
            font-weight: normal;
            white-space: nowrap;
        }
    }

    .demo-body {
        margin-bottom: 6px;
        padding-top: 10px;
    }

    &.dual {
        width: calc(50% - 10px);

        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }
}

.masthead {
    margin-top: 80px;

    h1 {
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
        color: #5F86CC;
    }
}
